<!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-crow fa-1x text-gray-500"></i> Baia {{baia.name}}- {{baia.age}} dias </h1>
    
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <app-temperatura-card *ngIf="baia.temperatura" [temperatura]="baia.temperatura"></app-temperatura-card>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div  class="col-xl-3 col-md-6 mb-4">
      <app-agua-card *ngIf="baia.agua" [agua]="baia.agua"></app-agua-card>  
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <app-comida-card *ngIf="baia.alimento" [comida]="baia.alimento"></app-comida-card>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div  class="col-xl-3 col-md-6 mb-4">
      <app-iluminacao-card *ngIf="baia.luminosidade" [iluminacao]="baia.luminosidade"></app-iluminacao-card>
    </div>
  </div>