<div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Iluminação</div>
          <div *ngIf="!iluminacao" class="h5 mb-0 font-weight-bold text-gray-800">Não Disponivel</div>
          
          <div *ngIf="iluminacao" class="h5 mb-0 font-weight-bold text-gray-800">{{iluminacao.luminosidade?"ON":"OFF"}}</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-lightbulb fa-2x text-gray-500"></i>
        </div>
      </div>
    </div>
    <div *ngIf="iluminacao" class="card-body">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Status:
            <a *ngIf="iluminacao.estado"  class="btn btn-success btn-circle btn-sm" (click)="toggleLight()">
                <i class="fas fa-check text-white"></i>
              </a>
              <a *ngIf="!iluminacao.estado" class="btn btn-danger btn-circle btn-sm" (click)="toggleLight()">
                  <i class="fas fa-times text-white"></i>
                </a>
          </li>
        </ul>
      </div>
      <div *ngIf="!iluminacao" class="card-body">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Adicionar
            <!-- <span class="badge badge-danger badge-pill"><a href="#">OFF</a></span> -->
            <a  class="btn btn-primary btn-circle btn-sm">
                <i class="fas fa-plus text-white"></i>
            </a>
          </li>
        </ul>
      </div>
  </div>