<!-- Page Wrapper -->
<div id="wrapper">

  <app-sidebar></app-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column marginzona">

    <!-- Main Content -->
    <div id="content" class="mt-3">
      <!-- Begin Page Content -->
      <div *ngFor="let baia of baias" class="container-fluid">

        <app-baia [baia]="baia"></app-baia>

      </div>
      <!-- /.container-fluid -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <app-footer></app-footer>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->