<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar fixed-left sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-dove"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Aviário</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Visão Geral</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Baias
  </div>
  <li *ngFor="let baia of baias" class="nav-item">
    <app-baia-item [baia]="baia"></app-baia-item>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button type="button" class="btn btn-primary" routerLink="/create"> <i class="fas fa-fw fa-plus"></i> Adicionar
      Baia</button>
  </div>

</ul>
<!-- End of Sidebar -->